@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates|Montserrat:400,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  background-color: #222630;
}

h1, h2, h3 {
  color: #222630;
  font-family: 'Montserrat', sans-serif;
}

h4, h5, h6 {
  color: #222630;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

body #bg-img {
  /* The image used */
  background-image: url("https://pickywallpapers.com/img/2018/3/thumb/girl-gym-computer-background-893-912-hd-wallpapers-thumb.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

body .bg-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .content {
  display: table-cell;
}

body .content-container {
  vertical-align: middle;
  position: absolute;
  top: -600;
  left: 0;
  right: 0;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 1em auto;
  border-radius: 15px;
  width: 80%;
  height: 70vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

body .content h3 {
  vertical-align: middle;
  font-size: 50px;
  color: white;
}

body .header-jumbotron {
  padding: 60px;
  width: 50%;
  border-radius: 12px;
  margin: 0 auto;
  position: absolute;
  margin-top: -600px;
  left: 0;
  right: 0;
  text-align: center;
}

body .header-jumbotron .title {
  text-align: center;
  font-size: 7em;
  color: #efeee9;
  text-shadow: 0px 4px 14px #343838;
}

body .header-jumbotron .subheader {
  color: #efeee9;
  margin-top: -20px;
  font-size: 2em;
}

body .header-jumbotron .description {
  color: #efeee9;
  margin-top: 8px;
  font-size: 1.2em;
  letter-spacing: 5px;
}

body .header-jumbotron .arrow {
  position: absolute;
  text-decoration: none;
  color: white;
  margin-top: 300px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  overflow: hidden;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
}

body .header-jumbotron .arrow i {
  font-size: 45px;
}

main {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

main section {
  padding: 100px;
  height: 100vh;
  width: 100%;
}

main section:nth-child(2n) {
  background-color: #343838;
}

main section:nth-child(2n+1) {
  background-color: #222630;
}

main section div#primary {
  color: #fff;
  padding: 15px;
}

main section div#primary h2 {
  color: #bef200;
  font-size: 3em;
  margin-top: 10px;
  margin: 0 auto;
  text-transform: uppercase;
}

main section div#primary p {
  font-size: 1.4em;
}

main section div#primary a {
  color: #efeee9;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #bef200;
  display: block;
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 15px;
}

#navbar {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  padding-left: 50px;
  padding-top: 15px;
  background-color: transparent;
  z-index: 100;
}

#navbar ul li a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  border-radius: 50px/50px;
  text-decoration: none;
  float: left;
  padding: 6px;
  text-align: center;
  color: #ecf0f1;
  margin-right: 100px;
  margin-top: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar ul li a:hover {
  color: #bef200;
  border: #bef200 solid 2px;
}

#navbar ul li a:active {
  background-color: #bef200;
  color: #343838;
}

#navbar .brand {
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  padding: 0;
  font-size: 55px;
  float: left;
  top: 0;
}

#navbar .brand:hover {
  color: #ecf0f1;
}

#navbar .brand img {
  height: 50px;
}

#navbar .brand img:hover {
  -webkit-filter: drop-shadow(0px 2px 2px #222630);
          filter: drop-shadow(0px 2px 2px #222630);
}

#navbar .brand p {
  float: right;
  font-size: 22px;
  padding: 12px;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul {
  float: right;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
/*# sourceMappingURL=main.css.map */